<div class="register-container">


<form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form-group">
  <h2>Registro</h2>
  <div>
    <label>Email</label>
    <input type="email" formControlName="email" />
    <small *ngIf="registerForm.get('email')?.hasError('required')">El email es obligatorio</small>
    <small *ngIf="registerForm.get('email')?.hasError('email')">Formato inválido</small>
  </div>

  <div>
    <label>Contraseña</label>
    <input type="password" formControlName="password" />
    <small *ngIf="registerForm.get('password')?.hasError('minlength')">
      La contraseña debe tener al menos 6 caracteres
    </small>
  </div>

  <div>
    <label>Confirmar contraseña</label>
    <input type="password" formControlName="confirmPassword" />
    <small *ngIf="registerForm.hasError('passwordsMismatch')">
      Las contraseñas no coinciden
    </small>
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
</form>

</div>
