
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 30px;
  background-color: #1e3a5f; 
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.logo-text {
  font-weight: bold;
  font-size: 1.2rem;
  color: #b3e5fc; 
}


.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #e0f7fa;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #4dd0e1;
}

.nav-links .active {
  border-bottom: 2px solid #4dd0e1;
}


.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-login {
  background: transparent;
  border: 1px solid #4dd0e1;
  color: #4dd0e1;
}

.btn-login:hover {
  background: #4dd0e1;
  color: #1e3a5f;
}

.btn-signup {
  background: #29b6f6;
  border: none;
  color: white;
}

.btn-signup:hover {
  background: #0288d1;
}
