<div class="click-mortal">
  <h1 class="titulo-mortal">TEST YOUR MIGHT</h1>

  <div *ngIf="!jugando">
    <h3>Elige un modo:</h3>
    <button *ngFor="let modo of modos" (click)="iniciarJuego(modo.tiempo, modo.resistencia)">
      {{ modo.nombre }}
    </button>
  </div>

  <div *ngIf="jugando">
    <h2>Tiempo: {{ tiempoRestante }}s</h2>
     
    <div class="barra-contenedor">
      <div class="barra" [style.width.%]="progreso"></div>
    </div>

    
    <div class="objeto-container">
      <img
        src="maderas.png"
        alt="MADERA"
        (click)="clickear()"
        [class.daño1]="progreso > 30 && progreso < 60"
        [class.daño2]="progreso >= 60 && progreso < 90"
        [class.roto]="progreso >= 90"
      />
    </div>

    <div class="click-text">¡GOLPEA RÁPIDO!</div>
  </div>
</div>
