<section class="home-container">
  <h1 class="home-title">🎮 Sala de Juegos</h1>
  <p class="home-subtitle">Elige un juego y comienza a divertirte</p>

  <div class="games-column">
    
    <div class="game-card mayor-menor">
      <div class="overlay"></div>
      <div class="game-info">
        <h2>Mayor o Menor</h2>
        <p>Adivina si la siguiente carta será mayor o menor.</p>
        <button routerLink="/juegos/mayor-menor">Jugar</button>
      </div>
    </div>

   
    <div class="game-card preguntados">
      <div class="overlay"></div>
      <div class="game-info">
        <h2>Preguntados</h2>
        <p>Responde preguntas de cultura general para ganar puntos.</p>
        <button routerLink="/juegos/preguntados">Jugar</button>
      </div>
    </div>

    
    <div class="game-card mortal-click">
      <div class="overlay"></div>
      <div class="game-info">
        <h2>Mortal Click ⚡</h2>
        <p>Pon a prueba tus reflejos con este desafío de clicks rápidos.</p>
        <button routerLink="/juegos/mortal-click">Jugar</button>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="game-card ahorcado">
      <div class="overlay"></div>
      <div class="game-info">
        <h2>Ahorcado 🔤</h2>
        <p>Adivina la palabra secreta antes de que se complete el dibujo del ahorcado.</p>
        <button routerLink="/juegos/ahorcado">Jugar</button>
      </div>
    </div>
  </div>
</section>
