<section class="about-container">
  
  <div class="about-header">
    <img src="logos.png" alt="Logo Sala de Juegos" class="about-logo" />
    <h1>SALA DE JUEGOS</h1>
  </div>

 
  <div class="about-card">
    <div class="about-text scrollable">
      <h2>LEANDRO ESCOBAR</h2>
      <h3>Sobre mí</h3>
      <p>
        Soy un desarrollador de software en formación, apasionado por la
        tecnología y el aprendizaje constante. Actualmente curso en la UTN y
        estoy a punto de recibirme, tengo experiencia en distintos lenguajes
        como Python, C#, JavaScript y PHP.
      </p>
      <p>
        Me gusta combinar la programación con el diseño de proyectos creativos,
        como videojuegos y aplicaciones web. Mi objetivo es seguir creciendo
        como desarrollador fullstack y aportar soluciones innovadoras.
      </p>

      <h3>Sobre mi juego: <span class="game-name">Mortal Click ⚡</span></h3>
      <p>
        <strong>Mortal Click</strong> es un juego de reflejos y velocidad en el
        que el objetivo es <strong>romper una madera</strong> en una cantidad de
        tiempo limitada. Cada clic representa un golpe, y deberás alcanzar la
        fuerza necesaria antes de que el cronómetro llegue a cero.
      </p>
    </div>

    <div class="about-photo">
      <img src="leandro.jpg" alt="Foto de Leandro Escobar" />
    </div>
  </div>
</section>
