<div *ngIf="preguntas[indice] as pregunta" class="quiz-container">
  <h2 class="quiz-question">
    
    {{ pregunta.question }}
    <img 
    *ngIf="pregunta.imagen"
    [src]="pregunta.imagen" 
    alt="Imagen relacionada a la pregunta"
    class="imagen-pregunta"
  />
     <div class="quiz-status">
    <p><img src="corazon.png" alt=""> Vidas: {{ vidas }}</p>
    <p> Puntaje: {{ puntaje }}</p>
  </div>
  </h2>

  <div class="options">
    <button 
      *ngFor="let opcion of pregunta.opciones" 
      class="option-btn"
      (click)="responder(opcion)">
      {{ opcion }}
    </button>
  </div>
</div>
